<div class="footer">
	<small>
		<%= link_to 'One Month Rails', 'http://onemonthrails.com' %>
		by <%= link_to 'Kryptyk Physh', 'https://plus.google.com/u/0/105358230357528729129/about' %>.
	</small>
</div>